$font: 'Oswald';
$w: #fff;
$g: #6E774A;
$b: #1C1C1B;

.faq {
    background-color: #F7F8F3;
    padding: 100px 0;
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .faq__body {
        margin: 0;
        max-width: 570px;
        width: 100%;
        &__header {
            font-family: $font;
            font-size: 28px;
            font-weight: 200;
            letter-spacing: 4px;
            color: $b;
            text-align: center;
            padding: 40px;
            border-bottom: 2px solid #EAEDDE;
        }
        &__accardeon {
            width: 100%;
            .accardeon__header {
                color: $g;
                font-family: $font;
                font-size: 26px;
                letter-spacing: 3px;
                padding: 20px;
                cursor: pointer;
                
                h5 {
                    display: flex;
                    font-weight: 200;
                    .rotate {
                        margin: 0 10px 0 0;
                        display: flex;
                        transition: 0.5s;
                    }
                    .active {
                        transform: rotate(360deg);
                        transition: 0.5s;
                    }
                }
            }
            .accardeon__body {
                font-family: $font;
                color: $b;
                font-size: 18px;
                display: none;
                padding: 20px 0 20px 50px;
                border-bottom: 2px solid #EAEDDE;
            }
        }
    }
}
@media screen and (max-width: 560px) {
    .faq {
        padding: 0px 0;
        .faq__body {
            &__header {
                font-size: 24px;
                padding: 20px;
            }
            &__accardeon {
                .accardeon__header {
                    padding: 10px;
                }
                
            }
        }
    }
}